includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        -
            message: '#^Call to an undefined method Dew\\TablestoreDriver\\TablestoreServiceProvider::getPrefix\(\)\.$#'
            path: src/TablestoreServiceProvider.php
        -
            message: '#^Call to an undefined method Dew\\TablestoreDriver\\TablestoreServiceProvider::createCacheHandler\(\)\.$#'
            path: src/TablestoreServiceProvider.php
        -
            message: '#should be contravariant with .* Illuminate\\Contracts\\Cache\\Store::get\(\)$#'
            path: src/TablestoreStore.php
        -
            message: '#should be contravariant with .* Illuminate\\Contracts\\Cache\\Store::many\(\)$#'
            path: src/TablestoreStore.php
        -
            message: '#should be contravariant with .* Illuminate\\Contracts\\Cache\\Store::putMany\(\)$#'
            path: src/TablestoreStore.php
        -
            message: '#should be contravariant with .* Illuminate\\Contracts\\Cache\\Store::increment\(\)$#'
            path: src/TablestoreStore.php
        -
            message: '#should be contravariant with .* Illuminate\\Contracts\\Cache\\Store::decrement\(\)$#'
            path: src/TablestoreStore.php
