<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Laravel Tablestore Testcase">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ACS_ACCESS_KEY_ID" value=""/>
        <env name="ACS_ACCESS_KEY_SECRET" value=""/>
        <env name="TABLESTORE_ENDPOINT" value=""/>
        <env name="TABLESTORE_CACHE" value="testing"/>
    </php>
</phpunit>
